
.title {
    position: absolute;
    top: 30px;
    left: 60px;
    font-size: 10px;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
    /* background-color: #fff; */
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.balance-info {
    display: flex;
}

.balance-item {
    margin-right: 30px;
}

.balance-item h2 {
    color: #2ecc71;
    font-size: 24px;
    margin-bottom: 5px;
}

.balance-item p {
    color: #7f8c8d;
    font-size: 14px;
}

.controls button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.controls button:hover {
    background-color: blue;
}

.data-controls {
    background-color: rgb(0, 132, 255);
    color: white;
    border: none;
    padding: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
}

.data-controls:hover {
    background-color: rgb(0, 205, 255);
}

.data-controls.button-delete:hover {
    background-color: red;
}

.account-table {
    width: 100%;
    border-collapse: collapse;
}

.account-table th, .account-table td {
    padding: 15px;
    border: 1px solid #ddd;
    text-align: left;
}

.account-table th {
    background-color: #f2f2f2;
    color: #333;
    text-align: center;
}

.account-table td button {
    margin-left: 5px;
    margin-right: 5px;
}
